
.events-info-5{

    margin: 8% 50px;
    padding-left: 30px;
    padding-right: 30px;
    width: 20%;
    
} 
     

.event-5{


    width: 98%;

}
.info-9{

width:  270%;
font-size: 50px;
font-weight: bold;
padding-left: 0px;

}


.social-media-5 a {

    display: block;
    text-decoration: none;
    border: 1px solid rgb(179, 176, 176);
    width: 170px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.social-media-5 {

    position: relative;
    left: 678px;
    padding-left: 30px;
 
}

.social-media-5 a i {

    padding-left: 15px;
    font-size: 20px
}

.social-media-5 a span {

    padding-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(35, 35, 231, 0.863);
}
.posted-5{


background-color: #817e7e2c;
margin-top: 30px;
padding-top: 20px;
padding-bottom: 30px;

}
.posted-info-5{

padding-left: 100px;
padding-right: 100px;
width: 80%;
margin-left:90px ;
background-color:#fff;
padding-bottom: 20px;

}
.posted-image-5 img {

width: 400px;

}
.heading-5{

padding-left: 95px;
padding-bottom: 10px;
font-weight: 800;
text-transform: uppercase;
font-size: 13px;
}
.posted-data-5 {


padding-top: 30px;

padding-bottom: 20px;
padding-left: 10px;
}
.posted-data-5 h3{

   font-size: 35px; 
   font-weight: 600;
   padding-bottom: 20px;
}
.event-details-5{

font-size: 35px;
padding-bottom: 20px;
padding-top: 30px;

}
.span{
padding-top: 20px;

}
.span span{


font-weight: bold;


}
